.providers-container {
    display: flex;
    flex-wrap: wrap;
}

.provider-card {
    margin: 35px;
    border: 2px solid lightgray;
    border-radius: 11px;
    cursor: pointer;
    background-color: white;
    box-shadow: 3px 3px 10px;
    text-align: center;
}

.provider-card a {
    text-decoration: none;
    color: black;
}

.provider-card:hover{
    background: linear-gradient(0deg, white 0%, rgb(142, 142, 142) 100%);
    box-shadow: 4px 4px 10px;
}

.provider-card:active{
    background: linear-gradient(0deg, white 0%, rgb(73, 72, 72) 100%);
    box-shadow: 1px 1px 2px 0px;
}

.provider-card img {
    width: 320px;
    height: 220px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.details_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details_container img {
    width: 580px;
}

.details_container button {
    width: 150px;
    height: 38px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: rgb(40, 47, 140);
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .providers-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .provider-card img {
        width: 240px;
        height: 160px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
  }

@media only screen and (max-width: 820px) {
    .providers-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  }

  @media only screen and (max-width: 1580px) {
    .providers-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .provider-card {
        margin: 30px;
        border: 2px solid lightgray;
        border-radius: 11px;
        cursor: pointer;
        background-color: white;
        box-shadow: 3px 3px 10px;
        text-align: center;
    }
  }