.providers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.provider-card {
    margin: 38px;
    border-radius: 11px;
    cursor: pointer;
    background-color: white;
    box-shadow: 3px 3px 10px;
    text-align: center;
}

.provider-card a {
    text-decoration: none;
    color: black;
}

.provider-card:hover{
    background: linear-gradient(0deg, white 0%, rgb(199, 198, 198) 100%);
    box-shadow: 4px 4px 10px;
}

.provider-card:active{
    background: linear-gradient(0deg, white 0%, rgb(133, 132, 132) 100%);
    box-shadow: 1px 1px 2px 0px;
}

.provider-card img {
    width: 320px;
    height: 220px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

@media only screen and (max-width: 480px) {
    .providers-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .provider-card img {
        width: 240px;
        height: 160px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
  }

@media only screen and (max-width: 820px) {
    .providers-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  }

  @media only screen and (max-width: 1580px) {
    .providers-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .provider-card {
        margin: 30px;
        border-radius: 11px;
        cursor: pointer;
        background-color: white;
        box-shadow: 3px 3px 10px;
        text-align: center;
    }
  }