.side-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    height: 860px;
    width: 250px;
    color: white;
    background-color: rgb(40, 47, 140);
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.links span {
    text-decoration: none;
    color: white;
    font-size: 23px;
    margin-top: 30px;
}

.links span a {
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.header {
    text-decoration: none;
    color: white;
} 

.log-out {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 330px;
    font-size: 25px;
}

.log-out a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 330px;
    font-size: 25px;
}

.side-bar h1 {
    margin-top: 90px;
}